.radio-select {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 12px 0;
	border: none;
	background: none;

	&:focus {
		outline: none;
		color: #007cba;
	}

	&--active {
		color: #007cba;

		g {
			fill: #007cba !important;
		}
	}

	&__label {
		margin-left: 7px;
		font-size: 14px;
	}
}

.loading-spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* stylelint-disable selector-class-pattern */
.components-placeholder__fieldset {
	justify-content: start;
}
/* stylelint-enable selector-class-pattern */

.colorpalette-color-label {
	display: flex;
	margin: 8px 0;
	align-items: center;
}

.wp-block-cloudinary-gallery .block-editor-media-placeholder .components-placeholder__label .dashicon {
	margin-right: 8px;
}

/* stylelint-disable */
.wp-block-cloudinary-gallery .block-editor-media-placeholder.is-appender .components-placeholder__label {
	display: none;
}
/* stylelint-enable */

.wp-block-cloudinary-gallery .block-editor-media-placeholder.is-appender {
	margin-top: 11px;
	margin-bottom: 11px;
	padding: 11px;
	min-height: auto;
}

.wp-block-cloudinary-gallery .block-editor-media-placeholder.is-appender .components-button {
	margin-bottom: 0;
}
